<div data-role="view" data-title="View" data-layout="main" data-model="app.mapa" data-show="app.mapa.onShow" data-after-show="app.mapa.afterShow" id="mapaScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.mapa.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>
    
    <div id="map"></div>
</div>